<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 配置MySQL数据库信息 -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/mydb</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
		
		<!-- 配置hibernate设置信息 -->
		<!-- Hibernate默认是使用jdbc方式来取的，如果使用连接池的方式的话，必须告诉Hibernate一声，让它不使用单纯的JDBC连接 -->
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		<!-- 控制台显示sql语句，默认为false -->
		<property name="hibernate.show_sql">true</property>
		<!-- hibernate帮助创建表
			update：如果没有表，会自动创建；如果有这个表就会自动更新
		 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!--指定数据库的方言，指定MySQL-->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 与本地线程绑定session
		通过sessionFactory调用getCurrentSession方法就能和本地线程ThreadLocal绑定
		但是使用的时候不需要手动关闭session，否则会报错
		-->
		<!-- <property name="hibernate.current_session_context_class">thread</property> -->
		
		<!-- 导入映射文件（实体和表之间的映射关系） -->
		<mapping resource="com/yxd/po/User.hbm.xml"/>
	</session-factory>
</hibernate-configuration>